body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #33393d;
  padding-top: 90px;
}
#header {
  height: 70px;
  padding: 15px 0;
  margin: 0 0 15px 0;
  color: #ffffff;
  background: #0a3956;
  transition: box-shadow, padding, height;
  transition-duration: 0.4s;
}
.shrink #header {
  padding: 0;
  height: 40px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.9);
}
#logo {
  text-decoration: none!important;
}
#logo h1 {
  margin: 0;
  line-height: 36px;
  font-weight: 300;
  font-size: 32px;
  letter-spacing: 1px;
  color: #ffffff;
}
#content .section {
  padding: 15px 0;
}
#content .section:nth-child(odd) {
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
  background: #f2f2f2;
}
h1,
h2,
h3,
h4 {
  margin: 0 0 15px 0;
}
h1 {
  line-height: 32px;
  font-size: 28px;
}
h2 {
  line-height: 28px;
  font-size: 24px;
}
.btn-primary {
  border: 0;
  background: #9E1E1E;
}
.btn-primary:hover {
  background: #c92626;
  transition: background;
  transition-duration: 0.4s;
}
.btn-secondary {
  border: 0;
  background: #ffffff;
  color: #202123;
}
div.plinth-outer {
  border-radius: 5px;
  background: #0a3956;
  padding: 15px;
}
div.plinth-inner {
  border-radius: 5px;
  background: #ffffff;
  padding: 15px;
}
ul.entries {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
ul.entries > li {
  margin: 0;
  margin-bottom: 5px;
  padding: 10px;
  color: #ffffff;
  background: #0a3956;
}
ul.entries li {
  line-height: 30px;
  border-radius: 5px;
}
ul.entries li ul li {
  padding: 5px 0 5px 30px;
  margin: 0 0 5px 0;
  color: #33393d;
  background: #ffffff;
}
ul.entries li ul li > i {
  color: #086299;
}
ul.entries li ul ul li {
  padding: 5px 0 5px 30px;
  margin: 0 0 5px 0;
  color: #33393d;
  background: #e6e6e6;
}
ul.entries ul {
  clear: both;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
ul.entries .btn {
  margin: 0 5px 5px 0;
}
