<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="webglm is a web-application for performing bayesian analysis of generalised linear models">
	<meta name="robots" content="noindex, nofollow">

	<title>webglm</title>

	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,700,700">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/screen.css') }}">

	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
	{% block head %}
	{% endblock %}
</head>
<body>
	<div id="header" class="navbar-fixed-top">
		<div class="container">
			<a href="{{ url_for('web_view_index') }}" id="logo"><h1>webglm</h1></a>
		</div>
	</div>

	<div id="alert">
		<div class="container">
{% for message in get_flashed_messages() %}
			<div class="alert alert-danger alert-dismissible" role="alert">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<i class="fa fa-exclamation-triangle" aria-hidden="true"></i> {{ message }}
			</div>
{% endfor %}
		</div>
	</div>

    <div id="content">
{% block body %}
{% endblock %}
    </div>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
	<script src="{{url_for('static', filename='js/template.js')}}"></script>
</body>
</html>
