{% extends "layout.html" %}
{% block body %}
<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>New Job</h2>
                <p>
                    This page allows you to configure and launch a new job for an existing webglm model. Once the job
                    has been started, it will appear on the index page. Once the computation has been completed, you
                    will be able to view the results.
                </p>
            </div>
        </div>
    </div>
</div>
<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h2>Job Parameters</h2>
                <p>
                    The form below shows settings for a MCMC simulation for the model
                    "<em>{{ model.model_name }}</em>".
                </p>
                <p>
                    The available parameters are:
                    <ul>
                        <li>
                            The total number of steps to take in the MCMC simulation
                        </li>
                        <li>
                            The number of steps to discard from the beginning of the chain to attempt to reduce dependence
                            on the starting point of the chain and therefore yield more representative draws from the
                            posterior distribution
                        </li>
                        <li>
                            The number of steps in the chain to discard between each accepted step, in order to reduce
                            autocorrelation and yield more representative draws from the posterior distribution
                        </li>
                        <li>
                            The type of MCMC algorithm to use to make draws from the posterior distribution. This
                            defaults to Metropolis-Hastings for all variables, but the choice of suitable MCMC step
                            types for each individual variable can be delegated to PyMC3 which has several
                            <a href="https://pymc-devs.github.io/pymc3/api.html#step-methods">available</a>.
                        </li>
                    </ul>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <div class="plinth-outer">
                    <div class="plinth-inner">
                        <form class="form-horizontal" action="{{ url_for('web_new_job', model_id=model.id )}}" method=post>
                            <div class="form-group">
                                {{ form.steps.label(class="col-md-5")|safe }}
                                <div class="col-md-3">
                                    {{ form.steps(class="form-control", size=6)|safe }}
                                </div>
                            </div>
                            <div class="form-group">
                                {{ form.burn_steps.label(class="col-md-5")|safe }}
                                <div class="col-md-3">
                                    {{ form.burn_steps(class="form-control", size=6)|safe }}
                                </div>
                            </div>
                            <div class="form-group">
                                {{ form.thinning_factor.label(class="col-md-5")|safe }}
                                <div class="col-md-3">
                                    {{ form.thinning_factor(class="form-control", size=6)|safe }}
                                </div>
                            </div>
                            <div class="form-group">
                                {{ form.step_type.label(class="col-md-5")|safe }}
                                <div class="col-md-5">
                                    {{ form.step_type(class="form-control")|safe }}
                                </div>
                            </div>
                            <div class="form-group">
                                {{ form.protected.label(class="col-md-5")|safe }}
                                <div class="col-md-5">
                                    {{ form.protected()|safe }}
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-2 col-md-offset-5">
                                    <button class="btn btn-primary" type=submit>
                                        <i class="fa fa-play" aria-hidden="true"></i>&nbsp;Start Job
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

