{% extends "layout.html" %}
{% block body %}
<div class="section">
        <div class="container">
            <div class="row">
            <div class="col-md-12">
                <h2>New Model</h2>
                <p>
                    This page allows the configuration of the generalised linear model (GLM) for the selected file.
                    Once this file is configured you can perform a bayesian analysis on it using Markov Chain Monte
                    Carlo (MCMC).
                </p>
            </div>
        </div>
    </div>
</div>
<div class="section">
    <div class="container">
         <div class="row">
            <div class="col-md-10">
                <h2>Model Configuration</h2>
                <p>
                    The form below shows the variables found in file <em>{{ filename }}</em>. Currently, webglm will
                    automatically infer whether each variable in the CSV file should be interpreted as either a
                    categorical or a metric variable. CSV fields which contain solely integer or any string data will
                    be considered to represent categorical variables. CSV fields which contain floating point values will
                    be considered to represent metric variables.
                </p>
                <p>
                    Select the response variable using the radio buttons, and at least one predictor using the checkboxes.
                    Currently, all predictors (and intercepts) share parameters for the prior distributions of their
                    coefficients, which are given in the appropriate textboxes below the table. Where a predictor is
                    considered categorical, webglm will break it into multiple dummy variables (one for each level of
                    the categorical data) and each dummy variable will have its own coefficient with prior distribution.
                </p>
                <p>
                    Metric response variables are considered to be distributed normally around a central tendency (mean)
                    defined by a linear sum of predictor variables and intercept. Categorical response variables are
                    considered to be drawn from a categorical distribution whose probabilities are computed using the
                    softmax function over linear sums of predictors.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10">
                <div class="plinth-outer">
                    <div class="plinth-inner">
                        <form class="form-horizontal" action="{{ url_for('web_new_model', file_id=file_id)}}" method="post">
                            <table class="table table-condensed">
                                <tr>
                                    <th>Variable Name</th>
                                    <th>Variable type (inferred)</th>
                                    <th>Response?</th>
                                    <th>Predictor?</th>
                                    <th>Coefficient prior</th>
                                </tr>
                            {% for var_name, var_type in variables %}
                                <tr>
                                    <td><b>{{var_name}}</b></td>
                                    <td><i>{{var_type}}</i></td>
                                    <td>{{ responses[var_name]()|safe }}</td>
                                    <td>{{ predictors[var_name]()|safe }}</td>
                                    <td>
                                        <b><i>beta_{{var_name}}</i></b> &Tilde;
                                        Normal
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan=5>
                                        No variables in csv file
                                    </td>
                                </tr>
                            {% endfor %}
                            </table>
                            <div class="form-group">
                                <label class="col-md-3">Prior Coefficients</label>
                            </div>
                            <div class="form-group">
                                {{ form.prior_mean.label(class="col-md-1 col-sm-offset-1")|safe }}
                                <div class="col-md-3">
                                    {{ form.prior_mean(class="form-control input-sm", size=6)|safe }}
                                </div>
                            </div>
                            <div class="form-group">
                                {{ form.prior_sd.label(class="col-md-1 col-sm-offset-1")|safe }}
                                <div class="col-md-3">
                                    {{ form.prior_sd(class="form-control input-sm", size=6)|safe }}
                                </div>
                            </div>
                            <div class="form-group">
                                {{ form.model_name.label(class="col-md-2")|safe }}
                                <div class="col-md-6">
                                    {{ form.model_name(class="form-control col-md-1", size=20)|safe }}
                                </div>
                            </div>
                            <div class="form-group">
                                {{ form.protected.label(class="col-md-2")|safe }}
                                <div class="col-md-6">
                                    {{ form.protected()|safe }}
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-2 col-md-offset-2">
                                    <button class="btn btn-primary">
                                        <i class="fa fa-floppy-o">&nbsp;Save Model</i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Data Preview of "<em>{{ filename }}</em>"</h2>
                <p>
                    The following is a preview of the first few rows of the uploaded csv file as it has been interpreted
                    by webglm.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                {{ df_preview|safe }}
            </div>
        </div>
    </div>
</div>
{% endblock %}

