{% extends "layout.html" %}
{% block head %}
{% endblock %}
{% block body %}
<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Description</h2>
                <p>
                    webglm is a web-application for performing bayesian analysis of generalised linear models (GLMs) and
                    graphing the results. The webglm objects table shows a list of uploaded CSV files, configured
                    generalised linear models for each data file, and the corresponding results derived from simulating
                    these models using Markov Chain Monte Carlo (MCMC). Use the form below the objects table to submit
                    a new CSV file for analysis.
                </p>
            </div>
        </div>
    </div>
</div>
<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <h2>webglm Objects</h2>
                <ul class="entries">
    {% for file_tuple in entries %}
                    <li>
                        <i class="fa fa-file" aria-hidden="true"></i>&nbsp;File: <strong>{{ file_tuple[0].file_name }}</strong>
        {% if not file_tuple[0].protected %}
                        <a class="btn btn-sm btn-primary pull-right" href="{{ url_for('web_delete_object', object_type=file_tuple[0].type, id=file_tuple[0].file_id) }}"><i class="fa fa-trash" aria-hidden="true"></i></a>
        {% else %}
                        <a class="btn btn-sm btn-secondary pull-right"><i class="fa fa-lock" aria-hidden="true"></i></a>
        {% endif %}
                        <a class="btn btn-sm btn-primary pull-right" href="{{ url_for('web_new_model', file_id = file_tuple[0].file_id) }}"><i class="fa fa-plus-square" aria-hidden="true"></i> Add Model</a>
        {% if file_tuple[1] %}
                        <ul>
            {% for model_tuple in file_tuple[1] %}
                            <li>
                                <i class="fa fa-sitemap" aria-hidden="true"></i>&nbsp;Model: <strong>{{ model_tuple[0].model_name }}</strong>
                {% if not model_tuple[0].protected %}
                                <a class="btn btn-sm btn-primary pull-right"  href="{{ url_for('web_delete_object', object_type=model_tuple[0].type, id=model_tuple[0].model_id) }}"><i class="fa fa-trash" aria-hidden="true"></i></a>
                {% else %}
                                <a class="btn btn-sm btn-secondary pull-right"><i class="fa fa-lock" aria-hidden="true"></i></a>
                {% endif %}
                                <a class="btn btn-sm btn-primary pull-right" href="{{ url_for('web_new_job', model_id=model_tuple[0].model_id) }}"><i class="fa fa-play" aria-hidden="true"></i> Run Job</a>
                {% if model_tuple[1] %}
                                <ul>
                    {% for result in model_tuple[1] %}
                                    <li>
                                        <i class="fa fa-area-chart" aria-hidden="true"></i>&nbsp;Job <strong>{{ result.result_id }}</strong>:
                        {% if result.job_status == "COMPLETED" %}
                                        <a href="{{ url_for('web_view_results', result_id=result.result_id) }}"><em>view results</em></a>
                        {% else %}
                                        <strong>{{result.job_status}}</strong>
                            {% if result.job_status == "BUSY" %}
                                        - {{busy_jobs[result.result_id].phase }}
                                {% if busy_jobs[result.result_id].phase in ["MCMC"] %}
                                        ({{busy_jobs[result.result_id].progress}}% done)
                                {% endif %}
                            {% endif %}
                        {% endif %}
                        {% if not result.protected %}
                                        <a class="btn btn-sm btn-primary pull-right" href="{{ url_for('web_delete_object', object_type=result.type, id=result.result_id) }}"><i class="fa fa-trash" aria-hidden="true"></i></a>
                        {% else %}
                                        <a class="btn btn-sm btn-secondary pull-right"><i class="fa fa-lock" aria-hidden="true"></i></a>
                        {% endif %}
                                    </li>
                    {% endfor %}
                                </ul>
                {% endif %}
                            </li>
            {% endfor %}
                        </ul>
        {% endif %}
                    </li>
    {% else %}
                    <li>
                        <i class="fa fa-file" aria-hidden="true"></i>&nbsp;No files
                    </li>
    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
            <h2>File upload</h2>
                <p>
                    Use this form to upload a CSV file. The CSV file should contain data suitable for generalised linear
                    model (GLM) calculations (e.g. linear/logistic regression). webglm will attempt to extract suitable
                    data from CSV files automatically.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="plinth-outer">
                <div class="plinth-inner">
                <form class="form-horizontal" action="{{ url_for('web_new_file') }}" method=post enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="file" class="col-sm-3 control-label">File</label>
                        <div class="col-sm-8">
                            <input class="form-control" type="file" name="file">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="protect" class="col-sm-3 control-label">Protect from deletion</label>
                        <div class="col-sm-3">
                            <input type="checkbox" name="protected" value=1>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-3 col-sm-offset-3">
                            <button class="btn btn-primary" type="submit"><i class="fa fa-upload" aria-hidden="true"></i> Upload</button>
                        </div>
                    </div>
                </form>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>About</h2>
                <p>
                    webglm is written in Python 3 and uses:
                    <ul>
                        <li><a href="http://flask.pocoo.org">Flask</a> and <a href="http://jinja.pocoo.org">Jinja2</a> for the web-interface</li>
                        <li><a href="http://peewee-orm.com">peewee</a> for Object Relational Mapping</li>
                        <li><a href="http://pandas.pydata.org">pandas</a> for dataset manipulation</li>
                        <li><a href="http://www.celeryproject.org">Celery</a> for background task execution</li>
                        <li><a href="https://github.com/pymc-devs/pymc3">PyMC3</a> and <a href="http://deeplearning.net/software/theano/">Theano</a> for MCMC simulation</li>
                        <li><a href="http://mpld3.github.io">mpld3</a> for web-based interactive graphing from within python</li>
                    </ul>
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
