{% extends "layout.html" %}

{% block head %}
<script type="text/javascript" src="http://d3js.org/d3.v3.min.js"></script>
<script type="text/javascript" src="http://mpld3.github.io/js/mpld3.v0.2.js"></script>
{% endblock %}

{% block body %}

<div class="section">
        <div class="container">
            <div class="row">
            <div class="col-md-12">
                <h2>View Results</h2>
                <p>
                    The results of the MCMC simulation are displayed below. The graphs are generated using matplotlib
                    before being converted to interactive html plots using mpld3. Each plot is an approximation of the
                    posterior distribution for an individual regression coefficient in a generalised linear model, as
                    configured on the webglm model page.
                </p>
            </div>
        </div>
    </div>
</div>

    {% for var_name in plots_dict.keys() %}
<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2><em>{{var_name}}</em></h2>
                <div id="{{var_name}}"></div>
            </div>
        </div>
    </div>
</div>
    {% endfor %}

<script type="text/javascript">
    {% for var_name, plot_json in plots_dict.items() %}
    mpld3.draw_figure("{{var_name}}",  {{plot_json|safe}} );
    {% endfor %}
</script>
{% endblock %}

